.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
    height: 70vh;
    width: 100%;
}

.menu {
    display: flex;
    flex: 1 0 40;
    padding: 48px;
}

.page {
    display: flex;
    flex: 3 0 auto;
    padding: 48px;
}

.page h2 {
    padding: 12px 0;
}
.sectionPage {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.chapter {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 12px;
    margin: 12px 0;
}

.categoryMenu.ul {
    padding-left: 48px;
}
.categoryMenu {
    padding: 10px 0px 10px 24px;
    font-weight: 600;
}
.sectionMenu {
    padding-left: 24px;
    padding: 2px 0px;
    font-weight: 400;
}