.section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 0;
    height: 70vh;
    width: 100%;
}

.menu {
    display: flex;
    flex: 1 0 auto;
}

.page {
    display: flex;
    flex: 3 0 auto
}

.categoryMenu.ul {
    padding-left: 48px;
}
.categoryMenu {
    padding: 10px 0px 10px 24px;
    font-weight: 600;
}
.sectionMenu {
    padding-left: 24px;
    padding: 2px 0px;
    font-weight: 400;
}